<h1>TODO</h1>

<div class="container">

  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Invalid form data</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Invalid valid date</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Must be at least 5 chars</div>

  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" #description="ngModel" name="description" required="required" minlength="5"
        [(ngModel)]="todo.description" />

    </fieldset>


    <fieldset class="form-group">
      <label>Target date</label>
      <input type="date" class="form-control" #targetDate="ngModel" name="targetDate" required="required"
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" />
    </fieldset>


    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
